.skills {
    // height: 400px;
    padding-top: 30px;
    height: auto;
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .skill-content {
        display: flex;
        flex-direction: row;

        // width: 80%;
        @media screen and (max-width:800px) {
            flex-direction: column;
        }

        .skills-col {
            flex-direction: column;
            margin: 20px 50px;

            .img-size {
                height: 150px;
                width: 210px;
                transition: transform 0.5s ease;

                &:hover {
                    transform: scale(1.2);
                    transition: transform 0.5s ease;
                }
            }

            p {
                text-align: center;
            }
        }
    }
}