.header-container {
  // color: white;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom-style: solid;
  border-bottom-width: thin;

  .logo-container {
    align-items: center;
    margin-left: 150px;
  }

  .option-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 130px;
  }

  p {
    margin: 0px 10px 0px 10px;
  }
}